body {
    background-color:whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
    float: center;
}
.body {
    border: 2px solid purple;
    padding: 6px;
    margin: 20px;
    background-color: bisque;
}
.box-model {
    border: 2px solid blueviolet;
    padding: 6px;
    margin: 20px;
    background-color: cornsilk;
}
@media  screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
        color: whitesmoke;
    }
}
@media screen and (min-width: 768px) {
    body {
        background-color: yellowgreen;
    .}
    .column {
        width: 220px;
        float: left;
        padding: 15px;
    } 
}